.vkbtn {
    width: 385px;
    height: 54px;
    flex-shrink: 0;
    border-radius: 16px 0px;
    background: linear-gradient(90deg, #2A5067 0%, #292E49 100%);
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    color: white;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
    margin: 0;
    line-height: 0;
    letter-spacing: 0;
    padding: 15px 0;
}
.logoStyle{
    width: 40px;
    height: 40px;
}