.contentBox {
    max-width: 1200px;
    min-height: 80px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #343a40;
    border-radius: 8px;
}

.flexLogo {
    display: flex;
    align-items: center;
    gap: 15px;
}

.button {
    width: 200px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px 12px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    font-family: "SourceCodePro-SemiBold";
    font-size: 18px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #0056b3;
}

.logoTitle {
    font-family: 'Inter-SemiBold';
    font-size: 28px;
    color: #ffffff;
}

.logoDescription {
    font-family: 'Inter-ExtraLight';
    font-size: 18px;
    color: #f8f9fa;
}
