.caruselSize{
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}
.sizingPhoto{
    height: 500px;
    width: 100%;
    max-width: 800px;
    align-items: center;
    justify-content: center;
    display: flex;
    overflow: hidden;
    cursor: pointer;
}

@media screen and (max-width : 1024px) {
    .sizingPhoto{
        height: 400px;
    }
}
@media screen and (max-width : 800px) {
    .sizingPhoto{
        height: 250px;
    }
}
@media screen and (max-width : 420px) {

}