.caruselSize{
    width: 800px;
}
.sizingPhoto{
    height: 600px;
    width: 800px;
    align-items: center;
    justify-content: center;
    display: flex;
}

@media screen and (max-width : 1024px) {
    .sizingPhoto{
        height: 470px;
        width: 635px;
        align-items: center;
        justify-content: center;
        display: flex;
    }
    .caruselSize{
        width: 655px;
    }
}
@media screen and (max-width : 800px) {
    .sizingPhoto{
        height: 250px;
        width: 355px;
        align-items: center;
        justify-content: center;
        display: flex;
    }
    .caruselSize{
        width: 355px;
    }
}
@media screen and (max-width : 420px) {

}