.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 400px;
}

.input {
  padding: 10px;
  margin-bottom: 20px;
}

@media (max-width: 600px) {
  .container {
    max-width: 100%;
  }
}
